body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#table {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: normal;
}

td:first-child {
  font-weight: bold;
  width: 30%;
}

td:last-child {
  font-weight: 500;
  color: #666;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 20px;
}


/* .container {
    display: flex;
}
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}
.side-menu.open {
    left: 0;
}
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.side-menu ul li {
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.side-menu ul li:hover {
    background-color: #555;
}
.close-menu {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}
.open-menu {
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: #1e1e1e;
    font-size: 24px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    display: flex; 
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: normal;
  }

  td:first-child {
    font-weight: bold;
    width: 30%;
  }

  td:last-child {
    font-weight: 500;
    color: #666;
  }
  input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
  }
  button{
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;  
  }
  input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
  } */
